#EncabezadoPrincipal {
color: white;
}
.boton{
    width: 30%;
    height: 78px;
    margin: 20px;
    background-color: rgb(4, 44, 81);
    text-align: center;
}
.menu{
    background-color: rgb(26,73,116);
    display: flex;
}

.foto{
    border-radius: 200px;
}
#fotocv{
    height: 400px;
    width: 350px;
}
.foto1{
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    margin-right: 40px;
    margin-top: 100px;
}
.Encabezados{
  text-align: left;
  color: white;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: 400;
  margin-left: 100px;
  margin-top: 100px;
}
.colortxtboton{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 3.5;
}
.contenedortexto{
    color: white;
    text-align: left;
}
.body{
    font-family: 'Montserrat', sans-serif;
    background-color:#001F3C ;
}