
.boton{
    width: 30%;
    height: 60px;
    margin: 20px;
    background-color: rgba(68, 68, 71, 0.205);
    text-align: center;
}
.menu{
    background-color: rgba(0, 0, 0, 0.308);
    display: flex;
    width: 100%;
}
.txtfoto{
    display: flex;
    text-align: right;

}
.fotocv{
    height: 400px;
    width: 350px;
    border-radius: 200px;
    margin-left: 40px;
    margin-top: 100px;
    display: flex;
}
#encabezado{
    color: white;
    text-align: right;
    margin-right: 30px;
    text-decoration: underline;
}
.colortxtboton{
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 3.5;
    text-decoration: none;
}
.contenedortexto{
    color: white;
    text-align: left;
    line-height: 3;
    margin-left: 50px;
    margin-top: 100px;
}
.body{
    font-family: 'Montserrat';
    background-color: #010f1b ;
    color: white;
}
#parrafop{
    text-align: right;
}
.contenedortextoi{
    color: white;
    text-align: left;
    line-height: 1.5;
    margin-left: 50px;
    margin-top: 150px;
}
.colorvinc{
    color: orangered;
}
.bienvenida{
    text-align: center;
    color: orangered;
    font-size: 20px;
    margin-top: 100px;
    margin-right: 200px;
}

.menu1{
    width: fit-content;
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 12px 0;
    margin: 20px;
    background-color: #ddd;
    justify-content: center;
}
.comp{
    text-align: left;
    width: 350px;
    height: 200px;
    line-height: 1.5;
    margin-left: 150px;
    margin-top: 100px;
}
.espacio{
    height: 15px;
}
#cmp{
    color: orangered;
    text-align: center;
}
#cmpt{
    color: orangered;
    text-align: center;
    text-decoration: underline;
}
.comp-{
    text-align: left;
    width: 350px;
    height: 200px;
    line-height: 1.5;
    margin-top: 100px;
    margin-left: 300px;
}
.dspC{
    display: flex;
}
#subr{
    text-decoration: underline;
}
.comp--{
    width: 350px;
    height: 200px;
    text-align: left;
    line-height: 1.5;
    margin-top: 100px;
    margin-right: 150px;
    margin-left: 300px;
}
#pexp{
    width: 1000px;
    height: 200px;
    margin-left: 100px;
    line-height: 1.5;
}
.encexp{
    margin-left: 100px;
}
#mtopxp{
    margin-top: 100px;
}
.estp{
    margin-left: 35%;
    margin-top: 100px;    
}