
:root{
    --color: orangered;
}

*{
    margin: 0;
    padding: 0;
    background-color: #010f1b;
    font-family: 'Montserrat';
    color: white;
    box-sizing: border-box;
}

.espacio{
    height: 15px;
}


.colorvinc{
    color: #ff4500;
}

main{
    position: relative;
}

/* MENU */


.inicio{
    background-color:#030611;
    color: #fff;
    padding: 1.25rem 1.25rem 0.93rem 1.25rem;
    border-bottom: 0.15rem solid orangered; 
  }
  
  #nav-bar {
    background-color:#030611;
    width: 100%;
    display: flex;
    list-style: none;
    position: relative;
    padding: 1.25rem;
    justify-content: center; 
    overflow: hidden;
  }
  
  .menu{
    background-color:#030611;
    display: flex;
    align-items: center;
  }


.menu li {
    background-color: #030611;
}

.menu li a { 
text-decoration: none;
color: #fff;
position: relative;
transition: all 0,6s ease;
padding: 10px 20px;
border: 0.15em solid;
}

.menu li a:hover{
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
}
.menu li a:active{
    color: orangered;
}


/* MEDIAQUERI MENU*/
@media (max-width: 767px){
    .menu {
        flex-direction: column;
        align-items: left;
      }
    
      .menu li {
        padding: 1rem;
      }
    
      .menu li a {
        font-size: 1rem;
      }
}




/* INDEX */

.contenedorI{
display: flex;
justify-content: space-around;
margin: 3rem;

}

.fotocv{
    width: 16rem;
    height: 40%;
    border-radius: 5rem;
    box-shadow: 16px 14px 20px #00000b;
    box-sizing: content-box;
}

.textoi{
    margin: 2rem;
    font-size: 1em;
    box-sizing: content-box;
    line-height: 1.5;
}

.bienvenida{
    color: orangered;
    text-align: center;
    margin: 2em
}




/* MEDIA QUERI */
@media (max-width: 767px){
.contenedorI, .contenedorDP, .contenedorC, .contenedorE, .contenedorX{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
#encabezado{
    color: white;
    text-decoration: underline;
    margin-top: 1.5rem;
    text-shadow: 10px 10px 10px #00000b;
    text-align: center;
    font-size: 0.9rem;
} 
}






/* titulo cv */
#encabezado{
    color: white;
    text-align: right;
    margin-right: 1.5rem;
    text-decoration: underline;
    margin-top: 1.5rem;
    text-shadow: 10px 10px 10px #00000b;
}



/* DATOS PERSONALES */

.contenedorDP{
    display: flex;
    margin: 3rem;

}

.textoDP{
    margin: 3em;
    font-size: 1em;
    box-sizing: content-box;
    line-height: 1.5;
}


/*  COMPETENCIAS  */


.comp{
    line-height: 1.5;
    width: 18rem;
    display: flex;
    margin: 5%;
}

#cmp{
    color: orangered;
    text-align: center;
    text-shadow: #00000b 10px 10px 10px;
}
#cmpt{
    color: orangered;
    text-align: center;
    text-decoration: underline;
}

.contenedorC{
    display: flex;
    justify-content: center;
}
#subr{
    text-decoration: underline;
}




/* EXPERIENCIA */


.contenedorX{
    display: flex;
    justify-content: left;
    width: 90%;
    margin-left: 5.5%;
}


/* ESTUDIOS */

.contenedorE{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5.5%;
}